<h2>Home</h2>

<p>Wecome to Meadowlark Travel! Please sign up to our newsletter using either:</p>
<ul>
    <li><a href="/newsletter-signup">Old-school form submission</a>.</li>
    <li><a href="/newsletter">Async from submission(recommended)</a></li>
</ul>
<p>Also, please enter our Vacation Photo Contest using either</p>
<ul>
    <li><a href="/contest/vacation-photo">Old-School form submission</a>.</li>
</ul>
{{> weather}}