<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Noto sans KR폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- 공통 CSS 임포트 -->
    <link rel="stylesheet" href="/resource/style/common.css">

    <title>TEST</title>
</head>
<body class="root">

    <!-- 메뉴 Navigation -->
    <nav class="nav-container" id="navbar">
        <a class="nav-menu home" href="/dashboard"></a>
        <a class="nav-menu" href="/practice">Practice</a>
        <a class="nav-menu" href="/board">Board</a>
        <a class="nav-menu setting" href="/setting"></a>
        <a class="nav-menu exit hidden" href="/exit"></a>
    </nav>

    <!-- 페이지 iframe -->
    <main class="page-iframe-wrap" id="page-wrap"></main>

    <!-- 로그인 Modal -->
    <section class="login-modal" id="login-modal">
        <div class="backdrop"></div>
        <div class="modal-box">
            <label class="title">Login</label>
            <input type="text" class="form-text" placeholder="ID" id="login-id">
            <input type="password" class="form-text" placeholder="PW" id="login-pw">
            <div class="btn-wrap">
                <button class="btn-primary" id="sign-in">Sign In</button>
                <button class="btn-secondary" id="sign-up">Sign Up</button>
            </div>
        </div>
    </section>

    <!-- 회원가입 Modal -->
    <section class="login-modal" id="register-modal">
        <div class="backdrop"></div>
        <div class="modal-box">
            <label class="title">Register</label>
            <input type="text" class="form-text" placeholder="ID" id="register-id">
            <input type="password" class="form-text" placeholder="PW" id="register-pw">
            <div class="btn-wrap">
                <button class="btn-primary" id="register-submit">Submit</button>
            </div>
        </div>
    </section>


    <!-- 페이지 렌더링용 히든 블록 -->
    <div style="display: none;" id="page-render-wrap"></div>

    <!-- 공통 JS 임포트 -->
    <script type="text/javascript" src="/resource/script/common.js"></script>
</body>
</html>